.canvas_right{
	margin-right: 250px !important;
	padding: 0px !important;
	zoom: .8;
  }
@media(max-width: 1440px){
	.canvas_right{
	  margin-right: 250px !important;
	  padding: 0px !important;
	  zoom: .8;
	}
}
@media(max-width: 1160px){
	.canvas_right{
	  zoom: .7;
	}
}
@media(max-width: 991px){
	.portfolio-section .portfolio-item,
	.service-section .service-item{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.copyright-text{
		display: block;
	}
	
	.nav-menu .copyright-text {
		position: absolute;
		top: auto;
		font-size: 15px;
		color: var(--text-black-600);
		transform: none;
		left: auto;
		bottom: 10px;
	}
	.nav-menu .close-nav-menu{
     display: block;
	}
	.canvas_right{
		zoom: .6;
	}
	.menu__bar{
		display: flex !important;
	}
	.nav-menu{
		height: 100%;
		width: 100%;
	}
	.nav-menu ul {
		padding: 0px 15px;
		display: block;
		height: 100%;
		width: 100%;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.nav-menu {
		position: fixed;
		background-color: var(--bg-black-50);
		padding: 0 15px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		overflow-y: auto;
	}
	.nav-menu.open {
		visibility: visible;
		opacity: 1;
		z-index: 999;
		transition: all 0.3s ease-in;
	}
	.nav-menu ul li {
		margin: 20px 5px;
	}
	.home-section .full-screen {
		min-height: 50vh;
	}
	
}
@media(max-width: 1440px){
	.lamp {
		zoom: .6;
	}
}


@media(max-width: 767px){
	.contact-section .w-50,
	.contact-section .contact-item,
	.portfolio-popup .description,
	.portfolio-popup .info,
	.portfolio-section .portfolio-item,
	.service-section .service-item,
	.about-section .skills .skill-item,
	.about-section .about-info,
	.about-section .about-img,
	.home-section .home-text,
	.home-section .home-img{
		flex: 0 0 100%;
		max-width: 100%;

	}
	#lineDrawing{
		zoom: .9;
	}
	.contact-section .submit-btn, .home-section .home-text{
		margin-top: 105px;
	}
	.effectgif {
		position: absolute;
		width: 100px;
		left: auto;
	}
	.home-section .home-text{
		order: 2;
	}
	.canvas_right {
		margin-left: 150px !important;
		padding: 0px !important;
		zoom: .8;
	}
	.neoph_new {
		zoom: .3;
		position: absolute;
		right: 18rem;
		top: 22rem;
	}
	.contact-section .submit-btn,
	.home-section .home-text{
		text-align: center;
	}
	.home-section .full-screen{
		padding: 10px 0;
	}
	.home-section .home-img .img-box{
		margin-bottom: 40px;
		max-width: 350px;
	}
	.effect-3{
		margin-left: -60px;
	}
	.effect-4{
		left: 15%;
	}
	.effect-5{
		right: 4%;
	}
	.about-section .about-img{
		padding-bottom: 30px;
	}
	.about-section .timeline .timeline-item:nth-child(odd){
		padding-right: 15px;
		text-align: left;
		padding-left: 75px;
	}
	.about-section .timeline .timeline-item:nth-child(even){
		padding-left: 75px;
		/*text-align: left;*/
	}
	.about-section .timeline:before{
		left: 35px;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .icon{
		right: auto;
		left: -60px;
	}
	.about-section .timeline .timeline-item:nth-child(even) .icon{
		left: -60px;
	}
	.about-section .timeline .timeline-item{
		margin-bottom: 40px;
	}
	.about-section .timeline .timeline-item:last-child{
		margin-bottom: 0;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
		left: -30px;
		right: auto;
	}
	.neoph_new,.phone_gif{
		display: none;
	}
	#about-me .progress {
		overflow: visible !important;	
	}
	#about-me .progress .progress-bar{
		position: relative !important;
	}
	body{
		margin: 8px !important;
	}
	.experience .timeline-item .link_time{
		word-wrap: break-word;
	}
}

@media(max-width: 574px){
	.home-section .home-img .img-box{
		max-width: 260px;

	}

	.lamp {
		zoom: .45;
	}
	.home-section .home-text h2{
		font-size: 40px;
	}
	.canvas_right{
		margin-left: -20px !important;
		padding: 0px !important;
		zoom: .53;
	  }
	  .canvas_right .inner-shadow {
		box-shadow: none;
	}
}

@media(max-width: 480px){
	#svgGroupsplit{
		display: none;
	}
}

/*=======================
	About Me CSS
=========================*/
#about-me {
	padding: 0;
	z-index: 44;
}
#about-me.default{
	background:#fff;
	padding:80px 0;
}
#about-me.default .tabs-main {
	top: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
}
#about-me .tabs-main {
	position: relative;
	z-index: 3;
	border-radius: 10px;
	margin-top: 0px;
}
#about-me .tabs-main .nav-tabs {
	position: absolute;
	top: 34px;
	left: 30px;
}
#about-me .tabs-main .nav-tabs li {
	float: none;
	margin: 0;
	padding-bottom: 140px;
	position: relative;
}
#about-me .tabs-main li .tooltips {
	position: absolute;
	width: 78px;
	top: -30px;
	color: var(--text-black-900);
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 12px;
	text-transform: uppercase;
	left: -16px;
	opacity: 0;
	visibility: hidden;
	border-radius: 5px;
}
#about-me .tabs-main li:hover .tooltips{
	opacity:1;
	visibility:visible;
}
#about-me .tabs-main .nav-tabs li::before {
	position: absolute;
	left: 18px;
	bottom: 0;
	width: 2px;
	height: 100%;
	content: "";
	top: 0;
}
#about-me .tabs-main .nav-tabs li:last-child:before{
	display:none;
}
#about-me .tabs-main .nav-tabs li a {
	border: 0px;
	border-radius: 100%;
	margin: 0;
	width: 40px;
	background: #fff;
	color: var(--skin-color);
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0;
	position: absolute;
}
#about-me .tabs-main .nav-tabs li.active a,
#about-me .tabs-main .nav-tabs li:hover a{
	color:var(--text-black-900);
}
#about-me .tab-content {
	background: var(--bg-black-50);
	padding: 30px 30px 30px 100px;
	border-radius: 5px;
	margin-top: -30px;
}
#about-me .tab-pane {
	transition: all 0.4s ease;
	width:100%;
}
#about-me .tab-title {
	position: relative;
	display: inline-block;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	text-transform: uppercase;
	color: var(--text-black-900);
}
#about-me .tab-title:before{
	position: absolute;
	bottom: -1px;
	content: "";
	left: 0%;
	width: 70%;
	height: 2px;
	border-radius: 100%;
}
#about-me .single-image{
	position:relative;
	overflow:hidden;
}
#about-me .single-image:before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
#about-me .single-image:hover:before{
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
#about-me .single-image{
	position:relative;
}
#about-me .social {
	width: 100%;
	text-align: left;
	margin-top: 20px;
}
#about-me .social ul li {
	display: inline-block;
	margin-right: 5px;
}
#about-me .social ul li a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	color: var(--text-black-900);
	display: block;
	border-radius: 100%;
	text-align: center;
}
#about-me .social ul li:hover a{
	color:var(--text-black-900);
}
#about-me .about-text .content p {
	margin-bottom: 20px;
	font-weight: 300;
	color: var(--text-black-900);
}
#about-me .about-text p:last-child{
	margin:0;
}
#about-me .single-skill {
	margin-top: 15px;
}
#about-me .skill-info{
	overflow:hidden;
}
#about-me .skill-info h4 {
	float: left;
	font-size: 14px;
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
#about-me .progress {
	height: 8px;
	border-radius: 0px;
	box-shadow: none;
	overflow: visible;
}
#about-me .progress .progress-bar {
	position: relative;
}
#about-me .progress .progress-bar span {
	font-size: 16px;
	right: 0;
	color: #fff;
	position: absolute;
	top: -17px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 100%;
	background:#fff;
	font-size: 13px;
	font-weight: 400;
}
#about-me .progress .progress-bar span:before{
	position:absolute;
	bottom:0
}
 #about-me .tabs-main li .tooltips, #about-me .tabs-main .nav-tabs li::before, #about-me .tabs-main .nav-tabs li.active a, #about-me .tabs-main .nav-tabs li:hover a, #about-me .tab-title:before, #about-me .social ul li:hover a, #about-me .progress .progress-bar, #about-me .progress .progress-bar span{
    background: var(--skin-color);
}
 #about-me .tabs-main li .tooltips, #about-me .tabs-main .nav-tabs li::before, #about-me .tabs-main .nav-tabs li.active a, #about-me .tabs-main .nav-tabs li:hover a, #about-me .tab-title:before, #about-me .social ul li:hover a, #about-me .progress .progress-bar, #about-me .progress .progress-bar span{
    background: var(--skin-color);
}
.activeNA,.activeNS,.activeNW,.activeNV{
	background: var(--skin-color);	 
}
#about-me .progress {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);

}
#about-me .tabs-main li .tooltips{
	padding: 6px 2px;
}
#about-me .progress .progress-bar{
	position: absolute;
    height: 8px;
	border-radius: 4px;
}
#about-me .progress .progress-bar span{
	padding: 0px 8px;
	width: 38px;
}
.tab-content>.activeA {
    display: block ;
}
.tab-content>.activeS {
    display: block ;
}
.tab-content>.activeW {
    display: block ;
}
.tab-content>.activeV {
    display: block ;
}
.fade.in {
    opacity: 1;
}
 .tab-pane {
    display: none;
}
.tab-paneA{
	display: block;
}
/*=======================
	End About Me
=========================*/
